#chat-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#chatt {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  padding: 24px;
  width: 400px;
}

#title {
  margin-top: 0;
  text-align: center;
}

#talk {
  max-height: 300px;
  position: relative;
}

.me {
  background-color: #ffe812;
  text-align: right;
}

.other {
  text-align: left;
  background-color: #D3D3D3;
}

.other, .me {
  font-weight: 600;
  margin: 16px;
  border-radius: 6px;
  padding: 12px;
}

#name {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 8px;
}

#msg {
  flex: 1;
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 8px;
  resize: none;
}

#btnSend {
  padding: 8px 16px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}